.copy-right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:0px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0);
}

.copy-right-info{
    margin-top: 20px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    color:rgb(186, 186, 186);
}

.all-right{
    margin-top: 15px;
    font-size: 8px;
    display: flex;
    text-align: center;
}
.all-right-2{
    font-size: 8px;
    display: flex;
}
.load-api-2{
    text-align: center;
}

.route{
    width: 100%;
    height: 100%;
    display: flex;
    top:0px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0);
}



.nav-bar{
    width: 40px;
    height: 100%;
    z-index: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
   top: 0px;
    left: 0px;
    font-size: 9px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.452);
    background-color: rgb(45, 46, 56);
}

.moble-stage{
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100px;
    background-color: rgba(26, 26, 26, 0);
}
.mobile-nav{
    width: 100%;
    height:max-content;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
   top: 0px;
    left: 0px;
    font-size: 9px;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 46, 56);
}
.mobile-nav-bar{
    width: 100%;
    height: 30px;
    z-index: 100px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
     align-items:center ;
   top: 0px;
    left: 0px;
    font-size: 9px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.452);
    background-color: rgb(45, 46, 56);
}

.mobile-box-nav{
    width: 30px;
    height: 30px;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgba(165, 42, 42, 0);
}
.nofy-bar{
    width: 100%;
    height: 150px;
    display:flex;
    overflow: hidden;
    transition: 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    background-color: rgba(238, 130, 238, 0);
}
.white-bar{
    width: 30px;
    height: 5px;
    transition: 1s;
    background-color: white;
}
.treediv{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 0, 0);
}
.home-icon-box-2-x{
    width: 40px;
    height: 40px;
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 149, 0);
}
.home-icon-box{
    margin-top: 20px;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: rgba(216, 191, 216, 0);
}
.home-icon-box-1{
    margin-top: 10px;
    width: 30px;
    height: 40px;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(216, 191, 216, 0);
}
.home-icon{
    width: 20px;
    height: 20px;
   
}
.mob-x{
    width: 90%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(252, 39, 252, 0);
}
.x-hbord{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 252, 75, 0);
  cursor: pointer;
}
.s-x1{
    width: 3px;
    height: 20px;
    position: absolute;
    display: flex;
    transform: rotate(-50deg);
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
 
}
.s-x2{
    width: 3px;
    height: 20px;
    position: relative;
    display: flex;
    transform: rotate(50deg);
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
 
}
.hover-board{
    width: 220px;
    height: 110px;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    border-radius:6px ;
    z-index: 100px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.452);
    background-color: rgb(45, 46, 56);
}
.west{
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.hover-board-2{
    margin-top: 5px;
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 99, 71, 0);
}
.hover-board-x{
    margin-top: 1px;
    width: 100%;
    height: 17px;
    display: flex;
    align-items: center;
    color:white;
    font-size: 10px;
    background-color: rgba(71, 114, 255, 0);
}

.dot{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #07ffde80;
}
.after-dot{
    margin-left: 5px;
    color:rgb(121, 121, 121)
}
.after-do{
    margin-left: 3px;
    color:rgb(255, 255, 255)
}
