.data{
  width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        flex-direction: column;
        margin-left: 25px;
        background-color: rgba(0, 255, 76, 0);
    color:white;
    overflow-y: hidden;
}

.data2{
  width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: hidden;
       flex-direction: column;
        background-color: rgba(255, 123, 0, 0);
    color:white;
    
}
.data3{
  width: 100%;
        height: max-content;
        display: flex; 
        overflow-y: scroll;
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(0, 0, 255, 0);
    color:white;
    overflow-y: scroll;
}
.infity-load{
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0);
}

.infity-load2{
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#07ffde80;
}

@media (prefers-reduced-motion: no-preference) {
  .infity-load2 {
    animation: infity-load2-spin infinite 800ms linear;
  }
}

@keyframes infity-load2-spin {
  0% {
    width:0%;
  }
  50%{
    width:50%;
  }
  100% {
    width:100%;
  }
}
